<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.cz.web.api.bankcard.dao.BankcardMapper">
  <resultMap id="BaseResultMap" type="com.qf.zsm.domain.Bankcard">
    <!--@mbg.generated-->
    <id column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="card_type" jdbcType="INTEGER" property="cardType" />
    <result column="card_bind_tel_no" jdbcType="VARCHAR" property="cardBindTelNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    card_id, card_name, card_type, card_bind_tel_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bankcard
    where card_id = #{cardId,jdbcType=VARCHAR}
  </select>
  <select id="findAll" resultType="com.qf.zsm.domain.Bankcard">
        select
        <include refid="Base_Column_List" />
        from bankcard
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from bankcard
    where card_id = #{cardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qf.zsm.domain.Bankcard">
    <!--@mbg.generated-->
    insert into bankcard (card_id, card_name, card_type, 
      card_bind_tel_no)
    values (#{cardId,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, #{cardType,jdbcType=INTEGER}, 
      #{cardBindTelNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.zsm.domain.Bankcard">
    <!--@mbg.generated-->
    insert into bankcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="cardBindTelNo != null">
        card_bind_tel_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardBindTelNo != null">
        #{cardBindTelNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.zsm.domain.Bankcard">
    <!--@mbg.generated-->
    update bankcard
    <set>
      <if test="cardName != null">
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardBindTelNo != null">
        card_bind_tel_no = #{cardBindTelNo,jdbcType=VARCHAR},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.zsm.domain.Bankcard">
    <!--@mbg.generated-->
    update bankcard
    set card_name = #{cardName,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=INTEGER},
      card_bind_tel_no = #{cardBindTelNo,jdbcType=VARCHAR}
    where card_id = #{cardId,jdbcType=VARCHAR}
  </update>
</mapper>